@using Microsoft.AspNetCore.Identity
@using SecurityClean3.Models
@using SecurityClean3.Utils

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(Roles.Admin))
    {
            <p class="me-1 mb-0">@SecurityClean3.Resources.General.Nav.Admin</p>
        <a asp-area="Identity" asp-page="/Account/Logout">Выйти</a>
    }
    else if (User.IsInRole(Roles.Manager))
    {
            <p class="me-1 mb-0">@SecurityClean3.Resources.General.Nav.Manager</p>
        <a asp-area="Identity" asp-page="/Account/Logout">Выйти</a>
    }
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@SecurityClean3.Resources.General.Nav.Login</a>
    </li>
}
</ul>
