@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid py-5 bg-light">
    <h2 class="text-center">Охранное агентство</h2>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <h3>Добро пожаловать на главную страницу</h3>
        <p>
            С помощью этого приложения вы сможете управлять
            работой предприятия.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Данные в безопасности</h3>
        <p>Используется удаленная база данных.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Версия для коммерческого использования</h3>
        <p>Благодарим за доверие к нашей компании.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Посмотреть другие продукты &raquo;</a></p>
    </div>
</div>

