@model ApplicationUser?
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@if (ViewBag.UserNotExists != null)
{
    <p>@ViewBag.UserNotExists;</p>
}
else{
    <p>@Model?.FullName</p>
}

