@page
@model AccessDeniedModel
@{
    ViewData["Title"] = SecurityClean3.Resources.General.Crud.AccessDenied;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@SecurityClean3.Resources.General.Errors.AccessDenied</p>
</header>
