
@{
    ViewData["Title"] = Errors.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="card-title text-center">@Errors.Title</h2>
                </div>
                <div class="card-body">                    
                    <p class="card-text text-danger">@ViewData["ErrorMessage"]</p>
                </div>
            </div>
        </div>
    </div>
</div>


